.footer {
  width: 100%;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
}

.socialMedia svg {
  color: white;
  margin: 1rem;
  font-size: 30px;
  cursor: pointer;
}

.socialMedia svg:hover {
  transform: scale(1.25);
  transition: 0.5s;
}

.footer p {
  color: white;
}
