.trip {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trip .tripTitle {
  font-size: 60px;
}

.tripList {
  width: 60vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.tripItem {
  border-radius: 15px;
  width: 20rem;
  height: 30rem;
  margin-bottom: 50px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.tripItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.tripItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tripItem h1 {
  margin-left: 20px;
  margin-right: 20px;
}

.tripItem p {
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 1300px) {
  .tripList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .tripList {
    grid-template-columns: 1fr;
  }
}
